body {
    widows: 900px;
    margin: 0 auto;
    background-color: black !important;
    animation-name: slidein;
    animation-duration: 1s;
}
#contenedor {
    text-align: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    background-color: black;
}
header {
    background-color: #5b7989;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-flow: row wrap;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header a {
    color: black;
}
.titulo-pagina {
    width: 70%;
    text-shadow: 2px 2px white;
}
nav a {
    text-decoration: none !important;
}
.navbar {
    width: 30%;
    padding-top: 25px;
}
nav a:hover {
    /**/
    color: white;
    font-size: 1.3em;
}
#galeria{
  width: 100%;
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}
#galeria div {
width: 33.3%;
}

#galeria div img {
width: 80%;
margin: 20px;
}
.filtro1{
  filter: blur(10px);
}
.filtro2{
  filter: grayscale(100%);
}
.filtro4{
  filter: grayscale(100%);
}
.filtro5{
  filter: sepia(90%);
}
.filtro6{
  filter: grayscale(100%);
}
footer {
    position: relative;
    top: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    background-color: #C6d5c5;
    height: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.1em;
}

.redes a img {
    margin: 0 auto;
    width: 15px;
    height: 15px;
}

div .redes {
    text-decoration: none !important;
}
@media (max-width:900px) {
    body {
        width: 100%;
    }
    .titulo-pagina {
        width: 100%;
    }
    .navbar {
        width: 100%;
        padding-top: 0px;
    }
    #galeria{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #galeria img{
      width: 100%;
      height: 100%;
    }
    footer{
        flex-flow: column;
        margin: 0 auto;
        height: 100%;
        text-align: center;
        font-size: 1.5em;
    }
  }
@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
  margin-top: -5%;
  }
  100%{
      margin-top: 0%;
  }
}
